.repositories {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.repositories__pagination {
    align-self: flex-end;
}

@media (max-width: 30em) {
    .repositories__tittle {
        font-size: 1.5rem;
    }
}