.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    /*
    1314px = 1284 + 2*15;
    */
    max-width: 82.125rem;
    padding: 0px 15px;
    margin: 0px auto;
}