.user {
    height: 100%;
    display: flex;
    column-gap: 85px;
    padding: 28px 15px;
}

.user__profile {
    flex: 0 1 auto;
}

.user__repositories {
    flex: 1 1 0.768%;
}

.user__repo-not-found {
    flex: 1 1 0.768%;
}

@media (max-width: 62em) {
    .user {
        row-gap: 30px;
        flex-direction: column;
    }
}